@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
body {
    font-family: "Fira Sans","Trebuchet MS","Helvetica Neue","Arial",sans-serif;
    font-size: 16px;
}

.icon-navbar {
    font-size: 25px;
    padding-left: 16px;
    padding-right: 16px;
    pointer-events: auto;
    text-decoration: none;
}

.icon-list {
    display: flex;
    flex-direction: row;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    padding-top: 60px;
    padding-left: 100px;
    padding-bottom: 80px;
    padding-right: 100px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F0F8FF;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.content {
    display: flex;
    justify-content: space-between;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 40px;
}

.chat-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 600px
}
.icon-groups {
    font-size: 25px;
    padding-left: 8px;
    padding-right: 8px;
}

.available-groups {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.textbox {   
    min-height: 80px;
    border-radius: 4px;
    min-width: 800px;
}

.button-send {
    color: white;
    background: #4C8FFB;
    border: 1px #3079ED solid;
    box-shadow: inset 0 1px 0 #80B0FB;
    min-height: 80px;
    min-width: 100px;
}

.chat-bubble {
    padding: 15px;
    color: #fff;
    background: #c81e2b;
    border-radius: 10px;
    width: fit-content;
    max-width: 700px;
}

.chat-admin {
    font-weight: bold;
    font-size: 20px;
}

.admin {
    align-items: center;
}

.chat-row {
    min-height: 100px;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.chat-user {
    align-items: flex-end;
}

.external-chat-user {
    align-items: flex-start;
}

.chat {
    display: flex;
    overflow-y: auto;
    max-height: 500px;
    flex-direction: column;
}

.user {
    display: flex;
    flex-direction: column;
}